body {
  font-family: 'Arial';
  line-height: 1.5;
  margin: 0;
  overflow-x: hidden;
  background-color: cornsilk;
}

article ol{
  max-width: 850px;
}

header{
  text-align: center;
  padding: 0px;
  margin: 0px;
  width: 100%;
  background-color: beige;
}

header img {
  text-align: center;
  padding: 0px;
  margin: 0px;
  height: 300px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #333;
}

nav a {
  color: #fff;
  padding: 10px 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

@media (max-width: 767px) {
  header img {
    width: 100%; 
    height: auto;     
  }

  nav {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  nav a {
    padding: 10px;
    margin-bottom: 5px;
  }

  main,
  aside {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
  }

  aside {
    width: 100%; 
    padding: 20px;
  }

  article table {
    width: 270px; 
    max-width: 270px; 
    align-items: first baseline;
  }
}

aside a {
  color: #333;
  font-weight: bold;
  display: none;  
}

main {
  float: right; 
  width: 80%;   
  box-sizing: border-box;
  padding: 15px;

}

main h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

main img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

article table {
  width: 81.5%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  article table {
    width: 46%; 
  }
}

article th,
article td {
  border: 2px solid #ddd;
  padding: 10px;
  text-align: left;
}

article th:hover,
article td:hover {
  background-color: #ddd;
}

footer {
  clear: both;
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}


footer p a img {
  width: 20px; 
  height: auto;
  margin-left: 5px; 
}

footer p {
  font-family: 'Segoe UI';
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
  text-align: center;
}

.wrapper {
  width: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 15px;
  background: none;
  border: none; 
  color: black;
}

.wrapper a {
  color: black;
}

ul {
  list-style-type: none;
}

.wrapper .menu-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url('https://cdn-icons-png.flaticon.com/512/660/660376.png') no-repeat center center / contain; 
}

.wrapper:hover {
  width: 250px;
}

.wrapper:hover aside a {
  display: block;
}









